@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.greetings {
    font-family: 'Raleway', sans-serif;
    font-size: 60pt;
    text-align: center;
    display: inline-block;
    color: black;
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.subGreetings {
    width: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 30pt;
    text-align: center;
    display: inline-block;
    color: grey;
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.signupRef {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 60pt;
    color: royalblue;
    text-align: left;
}

.signupRef:hover {
    color: blue;
}

.changelog {
    width: 70px;
    position: absolute;
    top: 10%;
    left: 50%;
    right: 0;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    color: royalblue;
    text-align: center;
}
.changelog:hover {
    color: grey;
}