@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.dialog {
    padding: 0 10px 0 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    color: grey;
}

.dialog:hover {
    color: black;
}